# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science 
* List commonly used libraries 
* List Data Science Tools
* Calculate simple arithmetic expression

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Scikit-learn
4. Apache Spark
5. Matplotlib
6. Seaborn

|Data Science Tools|
|:---|
|Hadoop|
|Cassandra|
|MySQL|
|Apache Airflow|
|Apache Spark|
|PixieDust|
|Kibana|
|Git|
|GitHub|
|GitLab|

### Below are a few examples of evaluating arithmetic expressions in Python:

This a simple arithmetic expression to mutiply then add integers:

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

## Author
Peter Kalman